@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-height: 100vh;
    margin: 0px;
    justify-content: space-between;
}

.content
{
    display: flex;
    box-sizing: border-box;
    max-height: 80vh;
    justify-content: space-around;

}
.container
{
    width: 80vh;
    height: 80vh;
    display: flex;
    border: 2px solid black;
    justify-self: center;
}
.header, .footer
{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 10vh;
}
.footer{
}
aside{
    width: 20%;
}

.slider
{

}


