@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-height: 100vh;
    margin: 0px;
    justify-content: space-between;
}

.content
{
    display: flex;
    box-sizing: border-box;
    max-height: 80vh;
    justify-content: space-around;

}
.container
{
    width: 80vh;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-self: center;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.container-row{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex: 1;
}
.grid-item{
    background-color: white;
    padding: 0px;
    flex: 1;
}
.grid-lines
{
    margin: 0.1%;
}
aside button{
    padding: 12px;
    text-align: center;
    font-size: 18px;
    width: 60%;
    background-color: gray;
    margin: 12px;
}
.header, .footer
{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 10vh;
}

aside{
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls h3{
    text-align: center;
    font-size: 24px;
}

.slider input[type="range"]
{
    -webkit-appearance: none !important;
    appearance: none !important;
    background: black;
    height: 2px;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none;
    background: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    }


